.badge {
    display: inline-flex;
    padding: 4px 0px 4px 4px;
    border-radius: 7px;
    background-color: #252535;
    border: 1px solid #292938;
    transition: 250ms;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.badge-text {
    font-size: 14px;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 20px;
    margin-left: 6px;
    margin-right: 6px;
}

.badge-img {
    height: 20px;
    width: 20px;
    border-radius: 3px;
}

.fancy-button.blue {
    background-color: #5865f2;
    border: 1px solid #6571f3;
    padding: 7px 15px 6px 15px;
}

.badge:hover {
    background-color: #2f2f3f;
}

.fancy-button.blue:hover {
    background-color: #4452bb;
    border-color: #6162e1;
}

.badge.small {
    padding: 2px 0px 2px 2px;
    height: 15px;
    margin-top: 11px;
    margin-left: 6px;
    background-color: #363340;
}

.badge-img.small {
    height: 15px;
    width: 15px;
    border-radius: 3px;
}

.badge-text.small {
    font-size: 12px;
    line-height: 10px;
    margin-block-end: 0;
    margin-block-start: 3;
    margin-left: 5px;
    margin-right: 5px;
}
