.sign-list {
    width: 100%;
}

.signs-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-card {
    background-color: #252535;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sign-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sign-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sign-meta {
    display: flex;
    gap: 4px;
}

.sign-pfp-miniature {
    height: 20px;
    width: 20px;
    margin-top: 2px;
    margin-right: 2px;
    border-radius: 10px;
}

.sign-author {
    font-weight: 600;
    font-size: 16px;
}

.sign-date {
    font-size: 12px;
    color: #6c757d;
    line-height: 26px;
    font-weight: 700;
}

.delete-button {
    width: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    padding: 3px;
    margin-left: auto;
    margin-right: 4px;
}

.hash-button {
    width: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    padding: 3px;
    background-color: #253035;
}

.hash-button:hover {
    background-color: #253b35;
}

.hash-button.hash-mismatch {
    background-color: #553d4f;
    color: white;
}

.hash-button.hash-mismatch:hover {
    background-color: #a17893;
}

.delete-button:hover:not(:disabled) {
    background-color: #2f2f3f66;
    color: rgba(255, 255, 255, 0.87);
}

.delete-button:disabled {
    color: #6c757d;
    cursor: not-allowed;
}

.sign-message {
    margin-top: -8px;
    padding: 0 12px 0 12px;
    border-radius: 4px;
    border-left: 3px solid #5865f2;
    background-color: #99867022;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
}

.anonymous-badge {
    background-color: #5865f2;
    height: 20px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 12px;
    width: 100%;
    display: block;
    text-align: center;
}

.pending-badge {
    background-color: #5865f2;
    height: 20px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 12px;
    width: 100%;
    display: block;
    text-align: center;
}

.admin-info {
    font-size: 11px;
    color: #6c757d;
    font-family: monospace;
    margin-left: auto;
}

.public-key {
    font-size: 16px;
    font-family: monospace;
    font-weight: 300;
    background-color: #3f3f5a;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    line-height: 10px;
}
