@import url("https://fonts.cdnfonts.com/css/gg-sans-2");

.fancy-button {
    padding: 7px 15px 6px 15px;
    border-radius: 7px;
    background-color: #252535;
    border: 1px solid #292938;
    transition: 250ms;
    cursor: pointer;
}

.fancy-button.blue {
    background-color: #5865f2;
    border: 1px solid #6571f3;
    padding: 7px 15px 6px 15px;
}

.fancy-button:hover {
    background-color: #2f2f3f;
}

.fancy-button.blue:hover {
    background-color: #4452bb;
    border-color: #6162e1;
}

.fancy-button.fill {
    width: 50%;
}
