.fancy-button {
    padding: 7px 7px 7px 7px;
    border-radius: 7px;
    background-color: var(--color-bg-button);
    border: 1px solid var(--color-border-button);
    transition: 250ms;
    cursor: pointer;
    font-family: NunitoSans;
    min-width: 36px;
    min-height: 36px;
}

.fancy-button:focus-visible {
    transform: scale(0.85);
}

.fancy-button-text {
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
    color: rgba(255, 255, 255, 0.87);
}

.fancy-button.blue {
    background-color: var(--color-bg-button-blue);
    border: 1px solid var(--color-border-button-blue);
}

.fancy-button:hover {
    background-color: var(--color-bg-button-hover);
}

.fancy-button.blue:hover {
    background-color: var(--color-bg-button-blue-hover);
    border-color: var(--color-border-button-blue-hover);
}

.fancy-button.fill {
    width: 100%;
}

.fancy-button:disabled {
    color: var(--color-text-disabled);
    background-color: var(--color-bg-button-disabled);
    border-color: var(--color-bg-button-disabled);
    cursor: not-allowed;
}

.fancy-button.blue:disabled {
    color: var(--color-text-disabled);
    background-color: var(--color-bg-button-disabled);
    border-color: var(--color-bg-button-disabled);
    cursor: not-allowed;
}

.button-img {
    height: 20px;
    width: 20px;
    position: relative;
    margin-bottom: -5px;
    top: -1px;
}

.button-img.icon {
    height: 14px;
    width: 14px;
    padding: 4px 2px 4px 2px;
    position: relative;
}

.button-img.icon {
    color: rgba(255, 255, 255, 0.87);
}
