.fancy-button {
    padding: 7px 7px 7px 7px;
    border-radius: 7px;
    background-color: #252535;
    border: 1px solid #292938;
    transition: 250ms;
    cursor: pointer;
    font-family: NunitoSans;
    min-width: 36px;
    min-height: 36px;
}

.fancy-button:focus-visible {
    transform: scale(0.85);
}

.fancy-button-text {
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.fancy-button.blue {
    background-color: #5865f2;
    border: 1px solid #6571f3;
    padding: 7px 7px 7px 7px;
}

.fancy-button:hover {
    background-color: #2f2f3f;
}

.fancy-button.blue:hover {
    background-color: #4452bb;
    border-color: #6162e1;
}

.fancy-button.fill {
    width: 50%;
}

.button-img {
    height: 20px;
    width: 20px;
    position: relative;
    margin-bottom: -5px;
}

.button-img.icon {
    height: 14px;
    width: 14px;
    padding: 4px 2px 4px 2px;
    position: relative;
}
