.reaction-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 3px 6px;
  background-color: var(--color-bg-button);
  border: 1px solid var(--color-bg-button);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  font-size: 20px;
  line-height: 23px;
  color: #dbdee1;
  font-family: Twemoji;
  height: fit-content;
}

.reaction-badge:hover {
  background-color: var(--color-bg-button-hover);
  border: 1px solid var(--color-border-button);
}

.reaction-badge.reacted {
  background-color: var(--reaction-badge-reacted);
  border-color: var(--reaction-badge-reacted-border);
}

.reaction-text {
  font-weight: 400;
}

.reaction-count {
  font-family: NunitoSans;
  font-weight: 700;
  font-size: 13px;
  top: 2px;
  position: relative;
}
