.repotab-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.repotab-card {
    background-color: var(--color-bg-secondary);
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px var(--color-shadow-light);
    transition: box-shadow 0.2s;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.repotab-card p {
    font-size: 14px;
    line-height: 1.5;
}
