@import url("https://fonts.cdnfonts.com/css/gg-sans-2");

.tooltip {
    display: inline-flex;
    padding: 4px 0px 4px 4px;
    border-radius: 7px;
    background-color: #232335;
    border: 1px solid #292938;
    transition: 250ms;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.tooltip-text {
    font-size: 14px;
    font-family: gg sans Medium;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 18px;
    margin-left: 6px;
    margin-right: 6px;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
  height: fit-content;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    top: -30px; /* над блоком */
    left: 50%;
    transform: translateX(-50%);
    background-color: #232335;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
    box-shadow: 0px 0px 10px 5px #1b1b2b;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  top: -35px; /* небольшое смещение вверх при показе */
}
