.balatro-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    overflow: hidden;
    transition: 0ms !important;
}

.balatro-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    transition: 0ms !important;
}
