@import url("https://fonts.cdnfonts.com/css/gg-sans-2");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    font-family: gg sans;
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #1e1e30;
}

.master-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-left: -8px;
    margin-top: -8px;
}

.card {
    background-color: #201f31;
    border-radius: 15px;
    min-width: 200px;
    max-width: 400px;
    width: fit-content;
    border: 1px solid #2b2b3a;
    box-shadow: 0px 0px 23px 5px #1b1b2b;
    height: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.item-container {
    width: fit-content;
    padding: 20px 20px 20px 20px;
}

.banner {
    width: 100%;
    height: 100px;
    background-image: url("../source/delta-rune-maker.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px 15px 0 0;
    transition: 200ms ease-in-out;
    display: flex;
    margin-bottom: 30px;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(100, 100, 255, 0.2);
    border-radius: 15px 15px 0 0;
    backdrop-filter: none;
    transition: backdrop-filter 200ms ease-in-out;
    z-index: 1;
}

.banner:hover::before {
    backdrop-filter: blur(2px);
    z-index: 1;
}

.pfp {
    position: relative;
    height: 90px;
    width: 90px;
    z-index: 2;
    margin-left: 20px;
    margin-top: 45px;
    border-radius: 50px;
    border: 7px solid #201f31;
}

.nameplate {
    font-family: gg sans SemiBold;
    font-size: 24px;
    line-height: 36px;
    margin-block-start: 2;
}

.pnouns {
    font-size: 13px;
    font-family: Open Sans;
    margin-top: -6px;
    width: fit-content;
    font-weight: 500;
}

p {
    font-size: 14px;
    font-family: gg sans Normal;
    width: fit-content;
    margin: 0 5px 0 0;
    line-height: 24px;
}

h1 {
    font-size: 18px;
    width: fit-content;
    margin-block-start: 0px;
    margin-block-end: 5px;
}

.connections {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: fit-content;
}

.buttons {
    display: flex;
    gap: 5px;
}

.name {
    display: flex;
    width: fit-content;
}

.desc {
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: gg sans Normal;
}
