.status-bubble {
    width: fit-content;
    min-width: 50px;
    max-width: 180px;
    height: fit-content;
    background-color: var(--color-bg-secondary);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px var(--color-shadow);
    padding: 5px 12px 5px 12px;
    font-family: NunitoSans;
    font-size: 14px;
    position: relative;
    z-index: 2;
    margin-top: 80px;
    margin-left: 10px;
    transition: 250ms ease-in-out;
    cursor: pointer;
    white-space: pre-line;
}

.status-bubble::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--color-bg-secondary);
    border-radius: 50%;
    top: -8px;
    left: 8px;
    transition: 250ms ease-in-out;
}

.status-bubble::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color-bg-secondary);
    border-radius: 50%;
    top: -15px;
    left: -5px;
    transition: 250ms ease-in-out;
}

.status-bubble:hover {
    transform: scale(1.05);
}
